* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
}

html,
body {
    width: 100vw;
    overflow-x: hidden;
    background-color: black;
}

a {
    text-decoration: none;
    color: inherit;
    color: white;
}

.theme {
    transition: 1s all ease;
}

.light {
    background-color: white;
    color: #111;
}

.dark {
    background-color: #111;
    color: #bbb;
}

.container {
    width: 100%;
    min-height: 100vh;
    /* margin: 0 auto; */
    padding: 0 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
